In [1]:
import requests
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import numpy as np

INTERIM_PATH="data/interim/ENIGH"
RAW_PATH="data/raw/DATOS EDUCACION/ENCUESTA NACIONAL DE INGRESOS Y GASTOS EN LOS HOGARES/Extracted"

In [2]:
os.chdir('..')

In [4]:
data_path=f"{INTERIM_PATH}/2022.csv"
df_2022=pd.read_csv(data_path)

/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_26178/3428410353.py:2: DtypeWarning: Columns (11,12,13,14,15,16,17,18,27,31,32,33,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022=pd.read_csv(data_path)

In [8]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397182 entries, 0 to 397181
Columns: 203 entries, Unnamed: 0 to delta
dtypes: float64(4), int64(20), object(179)
memory usage: 615.1+ MB

In [9]:
df_2022.columns[:100]

Index(['Unnamed: 0', 'folioviv', 'foliohog', 'numren', 'parentesco', 'sexo',
       'edad', 'madre_hog', 'madre_id', 'padre_hog', 'padre_id', 'disc_camin',
       'disc_ver', 'disc_brazo', 'disc_apren', 'disc_oir', 'disc_vest',
       'disc_habla', 'disc_acti', 'cau_camin', 'cau_ver', 'cau_brazo',
       'cau_apren', 'cau_oir', 'cau_vest', 'cau_habla', 'cau_acti', 'hablaind',
       'lenguaind', 'hablaesp', 'comprenind', 'etnia', 'alfabetism',
       'asis_esc', 'nivel', 'grado', 'tipoesc', 'tiene_b', 'otorg_b',
       'forma_b', 'tiene_c', 'otorg_c', 'forma_c', 'nivelaprob', 'gradoaprob',
       'antec_esc', 'residencia', 'edo_conyug', 'pareja_hog', 'conyuge_id',
       'segsoc', 'ss_aa', 'ss_mm', 'redsoc_1', 'redsoc_2', 'redsoc_3',
       'redsoc_4', 'redsoc_5', 'redsoc_6', 'hor_1', 'min_1', 'usotiempo1',
       'hor_2', 'min_2', 'usotiempo2', 'hor_3', 'min_3', 'usotiempo3', 'hor_4',
       'min_4', 'usotiempo4', 'hor_5', 'min_5', 'usotiempo5', 'hor_6', 'min_6',
       'usotiempo6', 'hor_7', 'min_7', 'usotiempo7', 'hor_8', 'min_8',
       'usotiempo8', 'pop_insabi', 'atemed', 'inst_1', 'inst_2', 'inst_3',
       'inst_4', 'inst_5', 'inst_6', 'inscr_1', 'inscr_2', 'inscr_3',
       'inscr_4', 'inscr_5', 'inscr_6', 'inscr_7', 'inscr_8', 'prob_anio'],
      dtype='object')

In [11]:
df_2022.columns[100:200]

Index(['prob_mes', 'prob_sal', 'aten_sal', 'servmed_1', 'servmed_2',
       'servmed_3', 'servmed_4', 'servmed_5', 'servmed_6', 'servmed_7',
       'servmed_8', 'servmed_9', 'servmed_10', 'servmed_11', 'servmed_12',
       'hh_lug', 'mm_lug', 'hh_esp', 'mm_esp', 'pagoaten_1', 'pagoaten_2',
       'pagoaten_3', 'pagoaten_4', 'pagoaten_5', 'pagoaten_6', 'pagoaten_7',
       'noatenc_1', 'noatenc_2', 'noatenc_3', 'noatenc_4', 'noatenc_5',
       'noatenc_6', 'noatenc_7', 'noatenc_8', 'noatenc_9', 'noatenc_10',
       'noatenc_11', 'noatenc_12', 'noatenc_13', 'noatenc_14', 'noatenc_15',
       'noatenc_16', 'norecib_1', 'norecib_2', 'norecib_3', 'norecib_4',
       'norecib_5', 'norecib_6', 'norecib_7', 'norecib_8', 'norecib_9',
       'norecib_10', 'norecib_11', 'norecib_12', 'razon_1', 'razon_2',
       'razon_3', 'razon_4', 'razon_5', 'razon_6', 'razon_7', 'razon_8',
       'razon_9', 'razon_10', 'razon_11', 'diabetes', 'pres_alta', 'peso',
       'segvol_1', 'segvol_2', 'segvol_3', 'segvol_4', 'segvol_5', 'segvol_6',
       'segvol_7', 'hijos_viv', 'hijos_mue', 'hijos_sob', 'trabajo_mp',
       'motivo_aus', 'act_pnea1', 'act_pnea2', 'num_trabaj', 'c_futuro',
       'ct_futuro', 'entidad', 'est_dis', 'upm', 'factor', 'integrantes',
       'a√±o_nacimiento', 'generacion', 'index', 'gasto_tri', 'ing_tri',
       'clave', 'numero_de_ingresos_hogar', 'ing_tri_hogar_total',
       'ing_tri_individual_total', 'niveles_hogar'],
      dtype='object')

In [15]:
df_2022=df_2022[ [
                 # Integer
                'folioviv', 'foliohog', 'numren', 'parentesco', 'edad',
                'madre_hog', 'madre_id', 'padre_hog','num_trabaj','pareja_hog','conyuge_id',
                
                #Float
                'gasto_tri', 'ing_tri','peso',

                #Categorical
                'alfabetism','generacion','entidad','asis_esc','grado','nivel','tipoesc','gradoaprob','clave',
                'sexo','nivelaprob','edo_conyug',
                
                #String


                
                
                 
                'antec_esc'
                
                ] ]

In [16]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397182 entries, 0 to 397181
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   folioviv    397182 non-null  int64
 1   foliohog    397182 non-null  int64
 2   numren      397182 non-null  int64
 3   parentesco  397182 non-null  int64
 4   edad        397182 non-null  int64
 5   madre_hog   397182 non-null  int64
 6   madre_id    397182 non-null  object
 7   padre_hog   397182 non-null  int64
 8   num_trabaj  397182 non-null  object
 9   pareja_hog  397182 non-null  object
 10  conyuge_id  397182 non-null  object
 11  gasto_tri   397182 non-null  float64
 12  ing_tri     397182 non-null  float64
 13  peso        397182 non-null  int64
 14  alfabetism  397182 non-null  object
 15  generacion  397182 non-null  object
 16  entidad     397182 non-null  int64
 17  asis_esc    397182 non-null  object
 18  grado       397182 non-null  object
 19  nivel       397182 non-null  object
 20  tipoesc     397182 non-null  object
 21  gradoaprob  397182 non-null  object
 22  clave       397182 non-null  object
 23  sexo        397182 non-null  int64
 24  nivelaprob  397182 non-null  object
 25  edo_conyug  397182 non-null  object
 26  antec_esc   397182 non-null  object
dtypes: float64(2), int64(10), object(15)
memory usage: 81.8+ MB

In [18]:
df_2022.antec_esc.unique()

array([' ', '3', '4', '2', '1', '5'], dtype=object)

In [20]:
df_2022=df_2022[df_2022['alfabetism']!=' ']
df_2022['alfabetism']=df_2022['alfabetism'].astype('int')

In [52]:
df=df_2022[ [
                 # Integer
                'folioviv', 'foliohog', 'numren', 'edad',
                'madre_hog', 'padre_hog','num_trabaj','pareja_hog',
                
                #Float
                'gasto_tri', 'ing_tri','peso',

                #Categorical
                'alfabetism','generacion','entidad','grado','nivel','tipoesc','gradoaprob','clave',
                'sexo','nivelaprob','edo_conyug','asis_esc',
                
                #String


                
                
                 
                'antec_esc',   
                
                ] ]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396263 entries, 0 to 397181
Data columns (total 23 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   folioviv    396263 non-null  int64
 1   foliohog    396263 non-null  int64
 2   numren      396263 non-null  int64
 3   edad        396263 non-null  int64
 4   madre_hog   396263 non-null  int64
 5   padre_hog   396263 non-null  int64
 6   num_trabaj  396263 non-null  object
 7   pareja_hog  396263 non-null  object
 8   gasto_tri   396263 non-null  float64
 9   ing_tri     396263 non-null  float64
 10  peso        396263 non-null  int64
 11  alfabetism  396263 non-null  int64
 12  generacion  396263 non-null  object
 13  entidad     396263 non-null  int64
 14  grado       396263 non-null  object
 15  nivel       396263 non-null  object
 16  tipoesc     396263 non-null  object
 17  gradoaprob  396263 non-null  object
 18  clave       396263 non-null  object
 19  sexo        396263 non-null  int64
 20  nivelaprob  396263 non-null  object
 21  edo_conyug  396263 non-null  object
 22  antec_esc   396263 non-null  object
dtypes: float64(2), int64(10), object(11)
memory usage: 72.6+ MB

## num_trabaj

In [25]:
df.num_trabaj.unique()

array([' ', '1', '2'], dtype=object)

In [29]:
df[df['num_trabaj']==' '].clave.unique()

array(['P104', 'P037', 'P041', 'P032', 'P067', 'P022', 'P027', 'P024',
       'P040', 'P038', 'P102', 'P051', 'P023', 'P063', 'P062', 'P045',
       'P101', 'P103', 'P105', 'P053', 'P059', 'P036', 'P107', 'P108',
       'P066', 'P035', 'P050', 'P052', 'P054', 'P049', 'P033', 'P026',
       'P043', 'P057', 'P031', 'P058', 'P106', 'P061', 'P039', 'P048',
       'P025', 'P034', 'P060', 'P064', 'P065', 'P028', 'P030', 'P055',
       'P029'], dtype=object)

From what I can tell, ' ' in the 'num_trabaj' column means the individual is not currently working at the time of the interview. We'll replace each of these with 'No job' in the categorical column that will replace it.

## pareja_hog

In [30]:
df.pareja_hog.unique()

array([' ', '1', '2'], dtype=object)

In [33]:
df[df['pareja_hog']==' '].edo_conyug.unique()

array(['5', '6', ' ', '4', '3'], dtype=object)

In [35]:
df[df['edo_conyug']==' '].edad.unique()

array([11, 10,  9,  7,  8,  6,  5,  3,  4])

From what I can tell, ' ' in the 'pareja_hog' column means the individual is not currently living with their couple at the time of the interview. We'll replace each of these with 'No couple' in the categorical column that will replace it.

## grado

In [37]:
column_name='grado'

In [39]:
df[column_name].unique()

array([' ', '2', '3', '6', '1', '4', '5'], dtype=object)

In [42]:
df[df[column_name]==' '].nivelaprob.unique()

array(['2', '4', '7', '8', '3', '5', '6', '0', '9', '1', 2, 8, 7, 3, 4, 6,
       0, 5, 9], dtype=object)

In [44]:
df[df[column_name]==' '].nivel.unique()

array([' ', '04', '06'], dtype=object)

In [47]:
df[(df[column_name]==' ') & (df['nivel']=='06')]

,folioviv,foliohog,numren,edad,madre_hog,padre_hog,num_trabaj,pareja_hog,gasto_tri,ing_tri,...,entidad,grado,nivel,tipoesc,gradoaprob,clave,sexo,nivelaprob,edo_conyug,antec_esc
171218,1403898806,1,2,11,2,2,,,69414.46,4721.31,...,14,,06,2,5,P105,1,2,,

In [54]:
df[(df[column_name]==' ') & (df['nivel']=='04')]

,folioviv,foliohog,numren,edad,madre_hog,padre_hog,num_trabaj,pareja_hog,gasto_tri,ing_tri,...,grado,nivel,tipoesc,gradoaprob,clave,sexo,nivelaprob,edo_conyug,asis_esc,antec_esc
55852,501506805,1,2,25,1,2,,,13903.69,4131.14,...,,04,1,5,P101,1,9,6,1,5
58641,502910704,1,2,25,1,2,,,19706.50,4131.14,...,,04,1,5,P105,1,9,6,1,5

In [56]:
df[df[column_name]==' '].asis_esc.unique()

array(['2', '1', 2], dtype=object)

In [59]:
df[(df[column_name]==' ') &( df['asis_esc']=='1')]

,folioviv,foliohog,numren,edad,madre_hog,padre_hog,num_trabaj,pareja_hog,gasto_tri,ing_tri,...,grado,nivel,tipoesc,gradoaprob,clave,sexo,nivelaprob,edo_conyug,asis_esc,antec_esc
55852,501506805,1,2,25,1,2,,,13903.69,4131.14,...,,04,1,5,P101,1,9,6,1,5
58641,502910704,1,2,25,1,2,,,19706.50,4131.14,...,,04,1,5,P105,1,9,6,1,5
171218,1403898806,1,2,11,2,2,,,69414.46,4721.31,...,,06,2,5,P105,1,2,,1,

In this case, by looking at the ocurrences of ' ' in the column 'grado', it would appear as though it meant that the subject is not currently assisting school.

## nivel

In [60]:
column_name='nivel'

In [61]:
df[column_name].unique()

array([' ', '07', '09', '06', '12', '11', '08', '01', '13', '10', '04'],
      dtype=object)

In [64]:
df[(df[column_name]==' ')].asis_esc.unique()

array(['2', 2], dtype=object)

In [63]:
df[(df[column_name]==' ') &( df['asis_esc']=='1')]

Empty DataFrame
Columns: [folioviv, foliohog, numren, edad, madre_hog, padre_hog, num_trabaj, pareja_hog, gasto_tri, ing_tri, peso, alfabetism, generacion, entidad, grado, nivel, tipoesc, gradoaprob, clave, sexo, nivelaprob, edo_conyug, asis_esc, antec_esc]
Index: []

[0 rows x 24 columns]

Same case as the column 'grado'

## tipoesc

In [65]:
column_name='tipoesc'

In [66]:
df[column_name].unique()

array([' ', '2', '1', '3'], dtype=object)

In [68]:
df[(df[column_name]==' ')].asis_esc.unique()

array(['2', 2], dtype=object)

Same case as column 'nivel'

## gradoaprob

In [69]:
column_name='gradoaprob'

In [70]:
df[column_name].unique()

array(['4', '3', '1', '5', '2', '6', '0', 4, 3, 5, 2, 6, 0, 1],
      dtype=object)

Just need to format the column correctly

## nivelaprob

In [72]:
column_name='nivelaprob'

In [73]:
df[column_name].unique()

array(['2', '4', '3', '7', '8', '5', '6', '0', '1', '9', 2, 8, 7, 3, 4, 6,
       0, 1, 5, 9], dtype=object)

In [74]:
df[(df[column_name]==' ')].asis_esc.unique()

array([], dtype=object)

Just need to format the column correctly

## edo_conyug

In [75]:
column_name='edo_conyug'

In [76]:
df[column_name].unique()

array(['5', '6', '2', '1', ' ', '4', '3'], dtype=object)

In [78]:
df[(df[column_name]==' ')].edad.unique()

array([11, 10,  9,  7,  8,  6,  5,  3,  4])

The ocurrences of ' ' happen for individuals with less than 11 years old.

## antec_esc

In [79]:
column_name='antec_esc'

In [80]:
df[column_name].unique()

array([' ', '3', '4', '2', '1', '5'], dtype=object)

In [82]:
df[(df[column_name]==' ')]

,folioviv,foliohog,numren,edad,madre_hog,padre_hog,num_trabaj,pareja_hog,gasto_tri,ing_tri,...,grado,nivel,tipoesc,gradoaprob,clave,sexo,nivelaprob,edo_conyug,asis_esc,antec_esc
0,100005002,1,1,91,2,2,,,32776.89,7434.78,...,,,,4,P104,2,2,5,2,
1,100005002,1,2,48,1,2,1,,32776.89,33749.99,...,,,,3,P001,2,4,6,2,
2,100005002,1,2,48,1,2,1,,32776.89,1956.52,...,,,,3,P009,2,4,6,2,
3,100005002,1,3,13,1,2,,,32776.89,391.30,...,2,07,2,1,P037,2,3,6,1,
4,100005002,1,3,13,1,2,,,32776.89,978.26,...,2,07,2,1,P041,2,3,6,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397175,3260797908,1,1,52,2,2,2,1,13198.75,2054.34,...,,,,2,P014,1,3,2,2,
397176,3260797908,1,1,52,2,2,2,1,13198.75,10271.73,...,,,,2,P068,1,3,2,2,
397177,3260797908,1,2,50,2,2,1,1,13198.75,2543.47,...,,,,6,P001,2,2,2,2,
397178,3260797909,1,1,37,2,2,1,1,18702.34,26413.04,...,,,,6,P001,1,2,2,2,
397179,3260797910,1,1,63,2,2,1,1,117455.55,136709.99,...,,,,3,P069,1,3,2,2,

# PCA

In [89]:
df=df_2022[ [
                 # Integer
                'folioviv', 'foliohog', 'numren', 'edad',
                'madre_hog', 'padre_hog',
                
                #Float
                'gasto_tri', 'ing_tri','peso',

                #Categorical
                'alfabetism','generacion','entidad',
                'sexo',
                
                #String


                
                
                   
                
                ] ]

In [90]:
df['generacion']=df['generacion'].astype('category')
df['alfabetism']=df['alfabetism'].astype('category')
df['entidad']=df['entidad'].astype('category')
df['sexo']=df['sexo'].astype('category')

/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_26178/3964520781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['generacion']=df['generacion'].astype('category')
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_26178/3964520781.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['alfabetism']=df['alfabetism'].astype('category')
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_26178/3964520781.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['entidad']=df['entidad'].astype('category')
/var/folders/m5/26l5nfs54r94_664jm4k6zvr0000gn/T/ipykernel_26178/3964520781.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sexo']=df['sexo'].astype('category')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396263 entries, 0 to 397181
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   folioviv    396263 non-null  int64
 1   foliohog    396263 non-null  int64
 2   numren      396263 non-null  int64
 3   edad        396263 non-null  int64
 4   madre_hog   396263 non-null  int64
 5   padre_hog   396263 non-null  int64
 6   gasto_tri   396263 non-null  float64
 7   ing_tri     396263 non-null  float64
 8   peso        396263 non-null  int64
 9   alfabetism  396263 non-null  category
 10  generacion  396263 non-null  category
 11  entidad     396263 non-null  category
 12  sexo        396263 non-null  category
dtypes: category(4), float64(2), int64(7)
memory usage: 31.7 MB

In [103]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA

n_components=4
categorical_columns = df.select_dtypes(include=['category']).columns
numerical_columns = df.select_dtypes(include=['number']).columns

# Define the preprocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_columns),
        ('cat', OneHotEncoder(), categorical_columns)
    ]
)



pipe = Pipeline([
    ('preprocessor', preprocessor),
    ('pca', PCA(n_components=n_components))
])


pipe.fit(df)


pca = pipe.named_steps['pca']

encoded_feature_names = (
    numerical_columns.tolist() +
    pipe.named_steps['preprocessor'].named_transformers_['cat']
    .get_feature_names_out(categorical_columns).tolist()
)

pca_df = pd.DataFrame(
    pca.components_.T,
    columns=[f'PC {x}' for x in range(1, n_components + 1)],
    index=encoded_feature_names
)

In [104]:
pca_df

                            PC 1      PC 2      PC 3      PC 4
folioviv               -0.000440 -0.295522  0.489913 -0.643374
foliohog                0.005252  0.171566  0.692241 -0.045894
numren                 -0.487614 -0.008224 -0.053557 -0.062985
edad                    0.461936 -0.057986 -0.118718 -0.084246
madre_hog               0.515790  0.028471  0.053740  0.020667
padre_hog               0.484268  0.013366  0.056461  0.037287
gasto_tri              -0.063836  0.681094  0.106772 -0.143008
ing_tri                 0.057045  0.592235  0.092191  0.110894
peso                   -0.046528 -0.236916  0.469151  0.712382
alfabetism_1           -0.011279  0.025128  0.003673  0.001497
alfabetism_2            0.011279 -0.025128 -0.003673 -0.001497
generacion_Alpha       -0.017594 -0.001634 -0.001267 -0.003570
generacion_Baby Boomer  0.088953 -0.022167 -0.035596 -0.027151
generacion_Greatest     0.000323 -0.000153 -0.000148 -0.000144
generacion_Milenial    -0.028202  0.037457  0.042579  0.023917
generacion_Silent       0.027580 -0.014281 -0.013803 -0.013197
generacion_X            0.078421  0.012886 -0.005767  0.008011
generacion_Z           -0.149481 -0.012108  0.014002  0.012134
entidad_1              -0.003640  0.019260 -0.029679  0.034191
entidad_2               0.001045  0.022874 -0.028201  0.038400
entidad_3               0.000790  0.018095 -0.019938  0.026747
entidad_4               0.000914  0.006809 -0.017130  0.022222
entidad_5               0.001047  0.016500 -0.029245  0.034999
entidad_6               0.000732  0.010513 -0.019166  0.020300
entidad_7               0.000648 -0.001284 -0.009585  0.018758
entidad_8               0.002849  0.011262 -0.021915  0.027761
entidad_9              -0.001698  0.011645 -0.010161  0.010575
entidad_10             -0.000624  0.001870 -0.011248  0.013864
entidad_11             -0.002479  0.001827 -0.005347  0.013641
entidad_12              0.001608 -0.003313 -0.004259  0.012253
entidad_13             -0.000512 -0.000546 -0.006073  0.003886
entidad_14             -0.001445  0.004343  0.000557  0.005909
entidad_15             -0.000671 -0.001519 -0.002732  0.001702
entidad_16             -0.000288  0.001872  0.003417  0.000367
entidad_17              0.000383 -0.001496  0.000231 -0.002637
entidad_18              0.001000 -0.000124  0.001995 -0.003111
entidad_19              0.001152 -0.001748  0.007471 -0.007329
entidad_20              0.001671 -0.011490  0.005170 -0.005727
entidad_21             -0.000535 -0.006737  0.005375 -0.007315
entidad_22             -0.002250 -0.000203  0.016944 -0.022619
entidad_23              0.000277 -0.003054  0.011248 -0.012598
entidad_24             -0.000849 -0.006901  0.011658 -0.019341
entidad_25             -0.000120 -0.004210  0.018769 -0.028122
entidad_26             -0.000035 -0.007399  0.015672 -0.021265
entidad_27              0.000276 -0.010541  0.013316 -0.019596
entidad_28              0.001550 -0.008038  0.015087 -0.021367
entidad_29             -0.001460 -0.010259  0.013759 -0.023789
entidad_30              0.002454 -0.017284  0.021711 -0.022738
entidad_31             -0.001044 -0.018679  0.031555 -0.038360
entidad_32             -0.000746 -0.012044  0.020744 -0.029660
sexo_1                  0.009470  0.022722  0.054637  0.086918
sexo_2                 -0.009470 -0.022722 -0.054637 -0.086918

In [107]:
import numpy as np
import plotly.express as px

print("Varianza por componente: ", pca.explained_variance_)
print("Porcentaje de varianza explicada por componente: ", 
      pca.explained_variance_ratio_)

df_ev = pd.DataFrame({
    "Varianza explicada": np.cumsum(pca.explained_variance_ratio_),
    "Componente": [f'PC {x}' for x in range(1,n_components+1)]
})
fig = px.line(df_ev, x='Componente', y='Varianza explicada', markers=True,
              title="Varianza explicada por componente")
fig.show()

Varianza por componente:  [2.73028163 1.25303911 1.04596554 1.00651653]
Porcentaje de varianza explicada por componente:  [0.24103244 0.11061975 0.09233906 0.08885645]

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed